:root{
  --bg: #212121;
  --accent: #14FFEC;
  --accent-hover: #0D7377;
  --accent-active: #395B64;
  --text: #EEEEEE;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrainsMono NF';
  user-select: none;
}
body{
  background: var(--bg);
}